html {
    background-image: url("assets/freedom.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

blockquote {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 40px;
    text-align: center; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }

p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
